body {
    background: linear-gradient(#2874b7 0%, #ffffff 40%, #ffffff 100%);
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.profile2 {
    width: 200px;
}
.profile h2{
    color: black;
}
.profile h4{
    color: black;
    transform: translateY(-10px);
}
.biodata {
    padding-top: 55px;
    background: linear-gradient(#ffffff 0%, #ffffff 40%, #2367dc 100%);
    padding-bottom: 200px;
}
.Experience {
    padding-top: 55px;
        background: linear-gradient(#2367dc 0%, #ffffff 40%, #ffffff 100%);

}
.contact {
    font-size: 10px;
    padding-bottom: 10px;
}